/* 公共部分 */
.w {
    width: 1500px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: 100%;
}
.right {
    float: right;
}

/* 导航栏部分 */
nav {
    height: 100px;
    overflow: hidden;
}
.nav-left {
    margin-top: 25px;
    float: left;
    font-family: '宋体';
}
.nav-right {
    float: right;
    margin-top: 30px;
}
.nav-right li {
    float: left;
    padding: 10px;
    font-size: 14px;
    font-family: '黑体';
    cursor: pointer;
}
.sear {
    font-weight: 700;
    margin-left: 15px;
}
.nav-right li:last-child b{
    vertical-align: top;
}
/* 轮播图部分 */
.wrp {
    position: relative;
}
.slide_img {
    width: 100%!important;
    height: 600px;
}
.fix_pos {
    position: absolute;
    right: 0;
    bottom: 1px;
    z-index: 10;
    width: 210px;
    height: 500px;
}
.fix_fix {
    position: fixed;
    right: 0;
    bottom: 153px;
    z-index: 10;
    width: 210px;
    height: 500px;
}
/* 文字分隔部分 */
.divide {
    /* height: 100px; */
    margin: 0 auto;
}
/* .divide h1 {
   
} */
.divide div:first-child {
    font-size: 24px;
   padding: 60px 0 10px 0;
    text-align: center;
    font-family: '宋体';
    font-weight: 700;
}
.divide div:last-child {
    text-align: center;
    color: #ccc;
    margin-bottom: 30px;
}
/* tab切换部分 */
.tab {
    overflow: hidden;
    padding-bottom: 80px;
}
.tab-left{
    width: 48%;
    height: 420px;
    float: left;
}
.tab_con {
    float: right;
    /* margin-left: 700px; */
    width: 50%;
    height: 420px;
}

.tab_btns {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tab_btns input:nth-child(3){
    margin-right: 0;
}
.tab_btns input {
    flex: 1;
    float: left;
    height: 50px;
    background: #ddd;
    border: 0px;
    outline: none;
    margin-right: 2px;
    color: white;
}
.tab_btns .active {
    background: rgb(79, 169, 152);
    color: white;
}
/* tab内容区域 */
.tab_cons {
    height: 300px;
}
.text_dec h3{
    font-size: 16px;
    padding: 20px 0;
}
.tab_cons .date {
    font-size: 14px;
    color: rgb(79, 169, 152);
    margin-bottom: 20px;
}
.tab_cons .detail {
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
}
.tab_cons .none {
    height: 300px;
    display: none;
    font-size: 30px;
}

.tab_cons .current {
    display: block;
}
.line {
    height: 2px;
    width: 100%;
    background-color: #ccc;
    margin: 40px 0;
}
.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(79, 169, 152);
    position: relative;
    top: -4px;
}
/* 下部分文字主体 */
.news_title .item_news {
    width: 100%;
    font-size: 14px;
    font-family: '黑体';
    margin-top: 10px;
}
.item_news img {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.news_title .item_news:hover {
    cursor: pointer;
   color: rgb(79, 169, 152);
}
/* 走进本管 */
.enter {
    padding: 60px;
    background-color: rgb(233, 233, 233);
}
.enter_title {
    text-align: center;
    font-size: 24px;

}
.enter_us {
    text-align: center;
    color: #777777;
    /* font-size: 14px; */
    font-family: '黑体';
    margin: 10px auto 20px;
}
.enter_text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.enter_more {
    color: #4FA997;
    width: 100%;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
/* 文字图片部分 */
.enter_img {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}
.img_left {
    width: 55%;
    height: 560px;
    float: left;
}
.img_right {
    width: 45%;
    float: right;
    height: 275px;
}
.title_right {
    height: 285px;
    float: right;
    width: 45%;
    padding: 0 30px 0 30px;
    background-color: white;
}
.title_right h3 {
    padding: 40px 0;
    font-size: 24px;
}
/* 陈列展览 */
.display {
    padding: 60px 0 40px 0;
}
.cl{
    font-size: 24px;
    font-family: '宋体';
    font-weight: 700;
}
.exh{
    padding: 10px 0 0 0;
    color: #777777;
}
.display div:nth-child(3){
    float: right;
    width: 100%;
}
.read img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
}
.display .more {
    float: right;
    margin-bottom: 30px;
}
.more span {
    color: #777777;
    font-size: 16px;
}
.dis_pic {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 100%;
}
.dis_pic .dis_one{
    flex: 1;
    margin-right: 30px;
}
.dis_pic .dis_one:last-child {
    margin: 0;
}
.dis_pic .dis_one img {
    width: 100%;
    height: 300px;
    vertical-align: middle;
}
.one_bottom {
    padding: 20px 20px 10px 20px;
    border: 1px solid #ccc;
}
.bottom_text {
    font-family: '黑体';
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.bottom-details {
    padding: 10px 0 0 0;
    font-size: 14px;
    color: #777777;
}
.bottom-details img {
    float: right!important;
    width: 30px!important;
    height: 10px!important;
    margin-top: 5px;
}
.labei {
    height: 550px;
    width:100%;
    background: url(../img/rabe.gif);
    background-size: 100% 100%;
    position: relative;
}
.son {
    padding: 50px 0;
}
.son h3 {
    font-size: 22px;
    padding: 20px 0;
    color: white;
    font-family: '宋体';
    position: relative;
}
.dia_cir {
    /* position: absolute;
    left: 0;
    bottom: 20px; */
    margin-top: 50px;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dia_cir img {
    width: 100%;
    height: 100%;
}

.dia {
    width: 600px;
    color: white;
    line-height: 2;
}
.rabe {
    background-color: rgb(79, 169, 152);
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
}
.bla {
    height: 550px;
    width: 800px;
    background: url(../img/bla.gif);
    background-size: 100% 100%;
    position: absolute;
    left: 0;
}
.inter {
    padding: 60px 0;
}
.tab_inter button{
    width: 200px;
    height: 50px;
    background-color: #ccc;
    outline: none;
}
/* 国际交流tab */
/* tab切换部分 */
.inter_con {
    width: 100%;
    /* height: 420px; */
    margin-top: 20px;
}

.inter_btns {
    height: 50px;
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
}
.inter_btns div:nth-child(3){
    margin-right: 0;
}
.inter_btns div {
    text-align: center;
    line-height: 50px;
    width: 185px;
    height: 45px;
    float: left;
    height: 50px;
    background: #ddd;
    border: 0px;
    outline: none;
    margin-right: 2px;
    color: white;
}
.none h3 {
    padding: 20px 0;
    font-size: 16px;
}
.inter_cons {
    /* height: 300px; */
    
}


.inter_btns .active {
    background: rgb(79, 169, 152)!important;
    color: white;
}
.inter_cons .current {
    display: block!important;
}
.inter_cons .none {
    /* height: 300px; */
    text-align: center;
    display: none;
    font-size: 30px;
}
.china {
    padding: 30px 30px 30px 0;
    overflow: hidden;
    width: 75%;
    float: left;
}
.china img {
    width: 380px;
    height: 340px;
    float: left;
    margin-right: 20px;
}
.cir img {
    margin-top: 40px;
    width: 45px!important;
    height: 45px!important;
}
.china_list {
    float: right;
    width: 25%;
}
.china_list h3 {
    text-align: left;
    font-size: 16px;
}
.china_list ul li {
    font-size: 14px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
    color: #333;
    cursor: pointer;
}
.china_list ul li:hover {
    color: rgb(79, 169, 152);
}
.china_list ul li:first-child{
    padding-top: 0;
}
.inter_cons .main {
    float: left;
}
.inter_cons .main h3{
    font-size: 16px;
}
.main {
    width: 350px;
}
.main .date {
    color: rgb(79, 169, 152);
    font-size: 14px;
    text-align: left;
    padding: 10px;
}
.main .line {
    margin: 20px 0;
}
.main .detail {
    font-size: 14px;
    color: #777777;
}
.main_text {
    width: 60%;
    float: left;
    font-size: 14px;
    color: #777777;
    line-height: 1.5;
}
.cir {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 20px;
}
.cir img {
    width: 100%;
    height: 100%;
}
.jump {
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
}
.jump_one {
    width: 70px;
    height: 70px;
    float: left;
}
.jump_one .txt {
    margin-top: 20px;
    font-weight: 700;
    font-family: '宋体';
    text-align: center;
}
/* 友情链接 */
.link {
    padding: 30px;
    background-color: rgb(237, 237, 237);
}
.link-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: '黑体';
}
.link a {
    color: #ccc;
    margin-right: 10px;
    font-size: 14px;
}
.link a:hover {
    color: rgb(79, 169, 152);
}
footer {
    height: 350px;
    position: relative;
    padding: 30px 0;
    background-color: rgb(34, 34, 34);
    overflow: hidden;
    width: 100%;
}
footer ul {
    justify-content: space-between;
    float: right;
    margin-right: 80px;
}
footer ul:first-child {
    margin-right: 0;
}
footer ul li {
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-family: '黑体';
    line-height: 1.5;
}
footer .first {
    margin-bottom: 40px;

} 
.footer_link {
    overflow: hidden;
}
.footer_link ul li:first-child{
    color: white;
    font-family: '黑体';
}
.erweima {
    position: absolute;
    width: 550px;
    height: 250px;
    background-color: rgb(53, 92, 85);
    left: 0;
    top: 0;
}
.erweima .pic {
   position: absolute;
   left: 20%;
   top: 14%;
}
.pic img {
    width: 135px;
    height: 135px;
    vertical-align: top;
}
.pic ol{
   display: inline-block;
   list-style: none;
   margin-left: 10px;
}
.pic ol .fir {
    margin-bottom: 35px;
    color: white;
}
.pic ol li{
    color: rgb(195, 194, 194);
    font-family: '黑体';
    line-height: 1.5;
    font-size: 14px;
 }
 footer .btm {
    color: rgb(117, 117, 117);
    font-size: 14px;
    text-align: left;
    position: absolute;
    left: 7%;
    bottom: 40px;
 }
 footer .number{
    color: rgb(117, 117, 117);
    position: absolute;
    right: 205px;
    bottom: 40px;
    font-size: 14px;
 }
 .number span {
     color: white;
 }

 /* 轮播 */
 a {
    text-decoration: none;
    outline: none;
    color: #666666;
  }

  a:hover {
    text-decoration: none
  }

  img {
    border: 0
  }

  ul {
    list-style: none;
    margin: 0;
  }

  h2 {
    color: #6CBD45;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 0.5em;
    margin: 0;
  }

  h3 {
    font-size: 13px;
    font-weight: bold;


  }

  #show {
    background: url(images/photo.jpg)
  }

  #meun1 {
    color: #fff;
    padding-left: 10px;
  }

  #meun1 img {
    float: left;
  }

  #submeun1 {
    margin-left: 70px;
    float: left;
  }

  #submeun1 li {
    text-align: center;
    margin-right: 10px;
    float: left;
    display: inline;
  }

  #submeun1 li a {
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }

  #submeun1 li.cur {
    text-align: center;
    background: #82ce18;
    margin-right: 10px;
    float: left;
    display: inline;
  }

  #top1 {
    background-color: #000;
    margin: 0em 0 10px 0em;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E5E5;
    height: 50px;
    line-height: 50px;
  }

  div.subtitle {
    font-size: 13px;
    float: right;
    color: #6CBD45;
    margin: 0 10px;
    text-align: right;
  }

  h1.title {
    height: 50px;
    font-size: 12px;
    background: url(logo.png) no-repeat;

  }

  h1.title a:link,
  h1.title a:visited,
  h1.title a:hover {
    color: #000;
    text-decoration: none;
  }
  .jt,.cir,.gj,footer li,.but{
      cursor: pointer;
  }